<!DOCTYPE html>
<html>
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
  <head>
    <title>PlayedBy.me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43065825-1', 'playedby.me');
      ga('send', 'pageview');

    </script>

    <script type="text/javascript">
      $(document).ready(function() {
        $("#subscribe").submit(function(event) {
          event.preventDefault();

          if ($("#subscribe").attr('submitted')){
            return;
          }

          $.ajax({
            type: 'post',
            data: $(event.target).serialize(),
            datatype: 'json',
            success: function(data) {
              $('#email-input').val('');
              $("p.error").text('');
              $('.form-group').removeClass("has-error");
              $('#email-input').attr('disabled', true)
              $('#submit').attr('disabled', true);
              $('#subscribe').attr('submitted', true);

              $('#confirmation-modal').modal();
            },
            error: function(data) {
              $('.form-group').addClass("has-error");
              var error = data.responseJSON.email;
              $("p.error").text(error);
            }
          })
        })
      })
    </script>

    <style>
      html
      {
        background: url("http://unsplash.s3.amazonaws.com/batch%206/blurred_lines.jpeg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      body {
        padding-top: 0px;
        font-size: 16px;
        font-family: "Open Sans",serif;
        background: transparent;
      }

      h1 {
        font-size: 44px;
        font-family: "Abel", Arial, sans-serif;
        font-weight: 400;
      }

      h4 {
        font-size: 14px;
      }

      section#title {
        border-bottom: 1px solid #bbb;
      }

      section#message {
        margin-top: 25px;
      }

      p.error {
        text-align: center;
        color: red;
      }

      /* Override B3 .panel adding a subtly transparent background */
      .panel {
        background-color: rgba(255, 255, 255, 0.9);
      }

      #message {
        text-align: center;
      }

      .margin-base-vertical {
        margin: 0px 0 10px 0;
      }

      #me {
        font-weight: bold;
      }

      .announcement-bar {
        width: 100%;
        padding: 1px 0;
        background-color: #000;
        color: #EEE;
        text-align: center;
      }

      .container {
        padding-top: 40px;
      }
    </style>
  </head>
  <body>
    <!-- Modal -->
    <div class="modal fade" id="confirmation-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title">Thanks for your interest!</h1>
          </div>
          <div class="modal-body">
            We'll update you when PlayedBy.me is released for beta :)
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>

  <div class="announcement-bar">
    <p>Brought to you by <a href="https://twitter.com/mrmattnguyen">@mrmattnguyen</a> and <a href="https://twitter.com/BasilKSiddiqui">@basilksiddiqui</a></p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-offset-3 panel">
        <section id="title">
        <h1 class="margin-base-vertical">PlayedBy.<strong>me<strong></h1>
            </section>

            <section id="message">
            <p class="lead" id="message">Influence and discover music at parties through voting.</p>
            <p class="lead" id="message"><strong>It's music. Played by you.</strong></p>
            </section>

            <form class="margin-base-vertical" id="subscribe" >
              <div class="form-group">
                <p class="input-group">
                  <span class="input-group-addon"><span class="icon-envelope"></span></span>
                  <input type="text" id="email-input" class="form-control input-large" placeholder="me@example.com" name="email"/>
                  <p class="error"></p>
                </p>
              </div>

              <p class="help-block text-center"><small>We won't send you spam. Unsubscribe at any time.</small></p>
              <p class="help-block text-center"><small><a href="mailto:team@playedby.me" target="_blank">team@playedby.me<a></small></p>

              <p class="text-center">
              <button type="submit" class="btn btn-success btn-large" id="submit">Keep me posted</button>
              </p>
            </span>
          </form>
        </div> <!-- //main content -->
      </div> <!-- //row -->
    </div> <!-- //container -->

    <script type="text/javascript">
      window.addEventListener("load",function() {
        setTimeout(function(){
          // Scroll straight to main content area
          window.scrollTo(0, 1);
        }, 0);
      });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/ga.js','ga');

      ga('create', 'UA-43065825-2', 'herokuapp.com');
      ga('send', 'pageview');

    </script>
    <script type="text/javascript">
      var _sf_async_config = { uid: 50014, domain: 'playedby.me', useCanonical: true };
      (function() {
       function loadChartbeat() {
       window._sf_endpt = (new Date()).getTime();
       var e = document.createElement('script');
       e.setAttribute('language', 'javascript');
       e.setAttribute('type', 'text/javascript');
       e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
       document.body.appendChild(e);
       };
       var oldonload = window.onload;
       window.onload = (typeof window.onload != 'function') ?
       loadChartbeat : function() { oldonload(); loadChartbeat(); };
       })();
    </script>
  </body>
</html>
